*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

.container{
    position: absolute;
    border: 3px solid black;
    width: 500px;
    height: 500px;
    inset: 0;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.darkMode{
    position: relative;
    border: 5px solid black;
    border-radius: 50px;
    width: 300px;
    height: 100px;
}

.toggle{
    position: absolute;
    width: 90px;
    height: 100%;
    background-color: black;
    border-radius: 50%;
    left: 0;
    display: block;
}

.toggle2{
    position: absolute;
    width: 90px;
    height: 100%;
    background-color: white;
    border-radius: 50%;
    left: 200px;
    display: none;
}

.Text{
    margin-bottom: 50px;
    font-size: 50px;
}
